.games-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.games-section #game-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  background-color: #fff;

  width: 10rem;
  height: 10rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);

  overflow: hidden;
  position: relative;
}

.games-section #game-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.games-section #game-card #game-card-hover {
  display: none;

  width: 100%;
  height: 100%;
  gap: 1rem;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.games-section #game-card #game-card-hover .title {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.games-section #game-card #game-card-hover .play {
  background-color: #ed1d49;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.games-section #game-card #game-card-hover img {
  width: 0.9rem;
  height: 0.9rem;
  background-color: blue;
}

.games-section #game-card #game-card-hover .openbet {
  font-size: 0.8rem;
  font-weight: 500;
  color: #dbdbdb;
}
