:root {
    --green: #00b14a;
    --darkGreen: #00833e;
    --darkYellow: #f39c12;
    --darkYellow2: #d4aa00;
    --red: #ed1d49;
    --darkRed: #c70039;
    --lightGrey: #ccc;
    --grey: #333;
    --darkGrey: #1b1b1b;
    --black: #111;
}